
html /* La police d'écriture pour tous le site*/
{ 
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}
body /* background pour le body*/
{ 
	background-image:url(../img/bg-body.png);
}
body > .container-globale /* container-globale du document */
{ 
	width:85%;
	margin:0 auto;
	padding-left:0;
	padding-right:0;
	padding-top:10px;
	background-image:url(../img/bg-contenu.png);
}
.reseau-social {
    list-style:none;
    margin:0;
}
ul.reseau-social li {
    display: inline;
    margin: 0 5px;
}
.support-navs{
	width:87%;
	height:145px;
	float:left;
}
.navbar-header > a:first-of-type(1){

	color:#ffffff; 

}
nav:nth-of-type(1){
	background-color:#131418;
	border:solid 1px #131418;
	height:82px;
	
}
nav:nth-of-type(1) > .container > a{
	color:#ffffff;
}
nav:nth-of-type(1) > .container > a > img{
	padding:0;
	margin:0;
	width:200px;
}
.logo{
	padding-left:45%;
	padding-right:20%;
	color:#ffffff;
}
.glyphicon-home{
	padding-left:45%;
	padding-right:20%;
	color:#ffffff;
}
.nav-support-liens{
	height:80px;
}
.nav-principale > .navbar{
	margin:0;
}
.fixed{
    width:86%;
}
figure{
	width:180px;
	height:80px;
	float:left;
	background-color:#019875;
    padding: 0;
	
}
figure > h1{
	height: 20px;
	font-weight:800;
	margin-left:2%;
}
figure > span{
    margin-left: 2%;
    letter-spacing: 5px;
}
.inscription{
	float:right;
	padding-top:20px;
   
}
.inscription  > button{

	border-radius:0;
}
.inscription  > button:first-of-type(1){

	background-color:#019875;
}
.item1{
	border:solid 1px red;
}

.menu{
    margin-top: 75px;
}
.navbar-header{
	background-color:#019875;
}

.menu-mobile /* le menu version mobile */
{ 
	background-color:#0054FF;
}
.menu-mobile > .navbar-toggle /* la partie qui contient les liens */
{ 
	border:none;
	background-color:#0054FF;
}
.menu-mobile > .navbar-toggle:hover /* au moment du hover*/
{ 
	background-color:#2D303C;

}
.navbar-toggle > span /* les trois bordure supporposées*/
{ 
	border:solid 2px #ffffff;
}
.container-globale > .nav-principale{ /* navigation principale du site*/
	background-color:#ffffff;
	height:auto;
	border-radius:0;
	margin-bottom:0;
}
.container-fluid > .collapse > .nav > li > a /*liens menu mobile*/
{
	color:#000000;
}
.container-globale > .header-principal /*header principale*/
{ 
	height:auto;
	color:#ffffff;
	
}
.enssemble-articles , .col-xs-12 /* enleve le padding par defaut*/
{ 
	padding:0;
}
.contenu /* laisser une marge entre le menu et le contenu*/
{ 
	
	padding-top:25px;

}

.thumbnail /*mettre une couleur aux thumbnails*/
{ 
	background-color:#EAE7D8;
	
}
.idee /* ajouter une goutierre entre chaque bloc d'idée*/
{ 
	
	padding-left:2%;
	padding-right:0%;
}
	/* le texte a l'interieur des thumbnail*/
.thumbnail > .caption > p > a 
{ 
	background-color:#F6F6F6;
	color:#0054FF;
	border:none;
	border-radius:0;

}
	/* le texte du bouton consultez de chaque thumbnail*/
.caption > a:last-child 
{ 
	
	background-color:#019875;
	color:#ffffff;
	margin-left:3px;
	border:none;
	border-radius:0;
	padding:4.9px;
	text-decoration:none;

}
.thumbnail > .caption a > p /* paragraphe des thumbnail*/
{ 
	text-decoration:none;
	color:#333333;

}
.thumbnail > .caption > h4 /* titres des thumbnail*/
{ 
	color:#027EE4;
}
	/* icone rubrique articles populaires (voir aside)*/
.media .media-body >  a > .glyphicon-comment
{
	color:#E7711B;
}
	/* couleur pour l'icone comment de chaque article (idée)*/
.caption  > .comment
{
	color:#E7711B;
} 
	/* couleur pour input qui est dans comment*/
.caption  > .comment > input[type=text]
{
	color:#999999;
}
.btnThumbs /* les icones dans les thumbnails */
{ 
	float:left;
	color:#999999;
	padding:5px;
	background-color:#F6F6F6;
}
.btnThumbs  > input[type=text] /* les input dans les thumbnails*/
{ 
  float: left;
  width: 20px;
  font: bold 12px Helvetica, sans-serif;
  padding: 3px 0 0 0;
  text-align: center;
  border:none;
  background-color:#F6F6F6;
  
}
	/* pour uniquement le bouton like thumbnails*/
.thumbs-up > .button 
{ 
  
  cursor: pointer;
  
}
	/* bouton onsultez voir les thumbnails*/
.caption > div:nth-of-type(4) 
{ 
	color:#E7711B;
}
aside > ul > .active
{ 
	font-size: 14px;
	color: #555570;
	padding: 10px 20px; 
	font-weight:600;
}
footer{ /* le footer */
	
	background-color:#2D303C;
	color:#ffffff;
	padding:1% 1% 5% 1%;
    
}
footer > .container-footer > ul > li /* les liste a puces footer*/
{ 
	list-style-type:none;
	padding:1% 1%;
	color:#9C9EA3;	    
}
	/* pour changer type de style*/	
footer > .container-footer > ul > li:before 
{ 
	content: "→ ";
	color:#019875;
}
footer > .btn /* bouton de l'ancran nomée dans le footer*/
{ 
	float:right;
	margin-right;
	border-radius:0px;
	border:none;
	background-color:#019875;
}
details > summary > h6 /* partie copyright*/
{ 
	color:#6B6E7A;
	margin-left:1%;
	margin-top:2%;
}
.sondage  label{
    display: block;  
}
.sondage input{
    float: left;
}

